* {
  text-align: center;
}
body {
  background-color: rgb(208, 255, 224);
  margin: 0;
}
.square {
  border: 2.7px solid rgb(7, 7, 57);
  aspect-ratio: 1/1;
  width: 105px;
  justify-content: center; /* Centers horizontally */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  background-color: rgba(255, 255, 255, 0.605);
  font-size: 8.5dvh;
  font-weight: 700;
}
.board {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}
.live {
  width: 50px;
  height: 40px;
}
.lives {
  margin-right: 50px;
}
header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  background-color: #e7ffe5;
  margin-top: 7px;
}
h1 {
  margin-left: 15rem;
}
.animals {
  width: 80px;
  place-items: center;
  max-width: 80%; /* Adjust size as needed */
  max-height: 80%;
  display: block;
}
.dashboard-row {
  display: flex;
  gap: 10prem;
}
.score {
  flex-direction: column;
}
.hidden {
  display: none;
}
/* cannot click on the baord */
.disable {
  pointer-events: none;
}

/* position the game over message */
#message {
  position: absolute;
  margin: auto 10rem;
  top: 47%;
  font-size: 5dvh;
  background-color: white;
  padding: 15px 15px;
  border: 1.5px solid #072d16;
  border-radius: 10px;
  width: 70%;
  flex-direction: column;
  align-items: center;
}

/*  hide the game over message */
.hidden {
  visibility: hidden;
}
.emoji {
  font-size: 40px;
}
/* .card {
  width: 80px;
} */

.restart{
    margin-top: 2px;
    align-items: center;
    width:max-content;
}

h4{
    padding: 0;
    margin: 20px 10px;
}