* {
  text-align: center;
}
body {
  background-color: rgb(208, 255, 224);
}
.square {
  border: 2.7px solid rgb(7, 7, 57);
  aspect-ratio: 1/1;
  width: 110px;
  justify-content: center; /* Centers horizontally */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  background-color: rgba(255, 255, 255, 0.605);
}
.board {
  justify-content: center;
  display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}
.live {
  width: 50px;
  height: 40px;
}
.lives {
  margin-right: 50px;
}
header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  background-color: #e7ffe5;
}
h1 {
  margin-left: 15rem;
}
.animals {
  width: 80px;
  place-items: center;
  max-width: 80%;          /* Adjust size as needed */
  max-height: 80%;
  display: block;
}
.dashboard-row {
  display: flex;
  gap: 10prem;
}
.score {
  flex-direction: column;
}
.hidden {
  display: none;
}
/* cannot click on the baord */
.disabled {
    pointer-events: none;
}

/* position the game over message */
#message {
position: absolute;
  margin: auto;
  top: 39%;
  font-size: 15dvh;
  background-color: white;
  padding: 5px 15px;
  border: 1.5px solid #f7a8b8;
  border-radius: 10px;

}

/*  hide the game over message */
.hidden {
    visibility: hidden;
}
